@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;

  --color-light: #fff;
  --color-light-alt: #afb6cd;
  --color-primary-bg: #131417;
  --color-secondary-bg: #252830;

  --color-transparent-light: rgba(255, 255, 255, 0.05);
  --color-transparent-dark: rgba(0, 0, 0, 0.75);
}

@layer base {
  :root {
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --transparent-light-color: rgba(255, 255, 255, .05);
    --transparent-dark-color: rgba(0, 0, 0, .75);
  }

  /* Light Theme */
  body.light-theme {
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0, 0, 0, .6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --hover-dark-color: #3d3d3d;
    --transparent-dark-color: var(--secondary-background-color);
    --transparent-light-color: rgba(0, 0, 0, .1);
  }

  body {
    @apply font-poppins text-base antialiased;
    background-color: var(--primary-background-color);
    color: var(--light-color-alt);
    transition: background-color 0.25s, color 0.25s;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--light-color);
    @apply font-bold;
  }
}

@layer components {

  /* Reusable component classes */
  .btn {
    @apply cursor-pointer inline-flex items-center justify-center transition-colors duration-200;
  }

  .btn:hover,
  .btn:hover span {
    color: var(--light-color);
  }

  .fancy-border {
    @apply relative overflow-hidden;
  }

  .fancy-border::before {
    content: "";
    @apply absolute top-0 left-0 w-[200%] h-full z-0;
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    background-size: 50% 100%;
  }

  .fancy-border span {
    @apply relative z-10 inline-flex px-6 py-2;
    background-color: var(--secondary-background-color);
  }

  .article-data-container {
    @apply w-full absolute left-0 bottom-0 p-6 z-10 transition-colors duration-500;
    background-color: var(--transparent-dark-color);
  }
}